extends layout

block content

  link(rel="stylesheet", href="/assests/css/about.css")
  .about-container
    h2 About Us
    p Welcome to Translator Website! We are passionate about breaking language barriers and making communication easier for people around the world.

    h3 Our Mission
    p Our mission is to provide fast, accurate, and reliable translation services using advanced technology and human expertise. We aim to connect people, businesses, and cultures by overcoming language challenges.

    h3 Our Team
    .team-container
      .team-member
        img(src="/assests/img/girl.jpg" alt="Team Member 1" class="team-photo")
        h4 Anuhya
        p 221fa04621
      .team-member
        img(src="/assests/img/boy.jpg" alt="Team Member 2" class="team-photo")
        h4 Devendra
        p 221fa04626
      .team-member
        img(src="/assests/img/boy.jpg" alt="Team Member 3" class="team-photo")
        h4 Avinash
        p 221fa04683
      .team-member
        img(src="/assests/img/girl.jpg" alt="Team Member 4" class="team-photo")
        h4 Amrutha
        p 221fa04698
      .team-member
        img(src="/assests/img/girl.jpg" alt="Team Member 5" class="team-photo")
        h4 Vyshnavi
        p 221fa04704
      .team-member
        img(src="/assests/img/boy.jpg" alt="Team Member 6" class="team-photo")
        h4 Manjunadh
        p 221fa04721
