header
  .header-container
    h1 Translator Website
  .container
    h1
  .navbar
    ul
      li: a(href="/") HOME
      li: a(href="/login" class="reservation") LOGIN
      li: a(href="Transli") TRANSLI
      li: a(href="/registration") Registration
      li: a(href="/contact") CONTACT
      li: a(href="/about") ABOUT
      li: a(href="/dashboard") Dashboard
      li: a(href="/profile") PROFILE
      