<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRANSLI</title>
    <link rel="stylesheet" href="../public/assests/css/home.css">
</head>
<!-- Header Section -->
<header>
    <div class="header-container">
        <h1>Translator Website</h1>
    </div>
    <div class="container"></div>
            <h1></h1>
            <div class="navbar">
                <ul>
                    <li><a href="home.html">HOME</a></li>
                    <li><a class="reservation" href="login.html">LOGIN</a></li>
                    <li><a href="Transli.html">TRANSLI</a></li>
                    
                    <li><a href="registration.html">Registration</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="profile.html">Profile</a></li>

                </ul>
            </div>
        </div>
</header>
<body>
    <div class="content">
        <h3>Welcome to TRANSLI</h3>
        <h1>"Translate your ideas effortlessly across borders and languages with our expert tools."</h1>
    </div>
        <p></p>
            <p>
            </p>
            <footer>
                <div class="footer-container">
                    <p>&copy; 2024 Translator Website | All Rights Reserved</p>
                </div>
            </footer>
</body>
</html>