extends layout

block content
  link(rel="stylesheet", href="/assests/css/home.css")
  .content
    h3 Welcome to TRANSLI
    h1 "Translate your ideas effortlessly across borders and languages with our expert tools."
