doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title TRANSLI
    link(rel="stylesheet" href="/assets/css/home.css")
    block head
  body
    //- Include header
    include header

    //- Content will be injected here
    block content

    //- Include footer
    include footer
