//- extends layout

//- block content

//-   link(rel="stylesheet", href="/assests/css/dashboard.css")

//-   .registration-container
//-     h2 Register for Your Free Account
//-     form#registration-form
//-       .form-group
//-         label(for="username") Username
//-         input#username(type="text" name="username" required)
//-       .form-group
//-         label(for="email") Email
//-         input#email(type="email" name="email" required)
//-       .form-group
//-         label(for="password") Password
//-         input#password(type="password" name="password" required)
//-       .form-group
//-         button.submit-btn(type="button" onclick="registerUser()") Register


extends layout

block content

  link(rel="stylesheet", href="/assests/css/dashboard.css")

  .registration-container
    h2 Register for Your Free Account
    form#registration-form(action="/register" method="POST")
      .form-group
        label(for="username") Username
        input#username(type="text" name="username" required)
      .form-group
        label(for="email") Email
        input#email(type="email" name="email" required)
      .form-group
        label(for="password") Password
        input#password(type="password" name="password" required)
      .form-group
        button.submit-btn(type="submit") Register
